[defaults]
; Esto es el inventario
inventory = ./variosinventarios/inventory
remote_user = devops
ask_pass = False 
library = ./library
ansible_managed = "Este archivo esta siendo administrado por Ansible. No debe ser modificado manualmente."
forks = 50
log_path = ./ansible.log

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
