Este es el sistema {{ ansible_facts['hostname'] }}

La fecha actual es: {{ ansible_facts['date_time']['date'] }}

Solamente puedes utilizar este sistema con el permiso correspondiente
Puedes solicitar a {{ system_owner }} para tener acceso
